<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {%  if LANGUAGE_BIDI %}dir="rtl"{%  endif %}>
    <head>
        <link href="/site_media/css/public.css" media="screen" rel="stylesheet" type="text/css"/>
        <title>{% block title %}Fixy FOLEY{% endblock %}</title>
        {% block extrastyle %}
        <link href="/site_media/js/jquery/css/ui-lightness/jquery-ui-1.8.11.custom.css" media="screen" rel="stylesheet" type="text/css"/>
          <link href="/site_media/django/css/base.css" media="screen" rel="stylesheet" type="text/css"/>
		{% endblock %}
        {% block extrahead %}
        <script type="text/javascript" src="/site_media/js/jquery/js/jquery-1.5.1.min.js">
        </script>
        <script type="text/javascript" src="/site_media/js/jquery/js/jquery-ui-1.8.11.custom.min.js">
        </script>
		
		<script type="text/javascript">
     	
		function updateCombo(combo_id,value,text)
		{
			alert("enter"+combo_id+" "+value+" "+text);
			   $('#'+combo_id).append(new Option(text,value));
		}
		function showPopup(href,h,w)
		{
			
			 
			var win = window.open(href, "", 'height='+h+',width='+w+',resizable=yes,scrollbars=yes,statusbar=1');
    win.focus();
    return false;
		}
		
     </script>
 
        {% endblock %}
        {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE" />
        {% endblock %}
    </head>
    {% load i18n %}
    <body class="">
    	{% block fcontent %}
        <!-- Container -->
        <div id="container">
            <!-- Header -->
            <div id="header">
                <table border="0" class="fixy_tab_header">
                    <tr>
                        <td>
                            <div class="fixy_logo">
                                FIXY 
                            </div>
                        </td>
                        {% if user.is_active%}
                        <td>
                            <span class="">{% trans "Welcome " %} : <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.</span>
                        </td>
						
                        <td>
                            <a href="/public/logout/">
                                {% trans 'Log out' %}</a>
                        </td>
						{% if perms.salon.can_administrate_salon %}
						
						<td><a href="/salon/{{user.id}}">{% trans "Administrate Your Salons" %}</a></td>
						
						{% endif %}
						
                        {% else %}
                        <td>
                            <form action="/public/login/" method="post" id="login-form">
                                {% csrf_token %}<span class="">{% trans "User name or Email" %} : </span>
                                <input type="text" name="username" size="20"/><span class="">{% trans "Password" %} : </span>
                                <input type="password" name="password" size="20"/><input type="checkbox" name="remember"/><span class="">{% trans "Remember Me" %} : </span>
                                <button type="submit">
                                    {% trans "Log In" %}
                                </button>
                            </form>
                        </td>
                        <td>
                        <span class="">{% trans "Not Registered ?" %}</span>
                        <a href="">{% trans "Register Here" %}</a>
                        </button>
                    </td>
                    {% endif %}
                    <td>
                        <br/>
                        <a href="">Like Us on Facebook</a>
                        <br/>
                        <a href="">Follow Us on TWITTER</a>
                    </td>
                    </tr>
                </table>
            </div>
            <!-- END Header -->{% if messages %}
            <ul class="messagelist">
            {% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
		</div>
		
			
			<table >
    <tr>
        <td>
        	
				<div id="leftsidebar">
			
            	{% block leftsidebar %}
				
                <div id="tabs1">
                    <ul>
                        <li>
                            <a href="#contentHair">{% trans "Hair" %}</a>
                        </li>
                        <li>
                            <a href="#contentBeauty">{% trans "Beauty" %}</a>
                        </li>
                        <li>
                            <a href="#contentSpa">{% trans "Spa" %}</a>
                        </li>
                        <li>
                            <a href="#contentTeeth">{% trans "Teeth" %}</a>
                        </li>
                        <li>
                            <a href="#contentAppr_Med">{% trans "Appr Med" %}</a>
                        </li>
                    </ul>
                    <div id="contentHair">
                        <table border="0">
                            <tr>
                                <td>
                                    <select name="services">
                                        <option>Services</option>
                                    </select>
                                </td>
                                <td>
                                	<a href="">{% trans "Service Glossary" %}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="salons">
                                        <option>Salons</option>
                                    </select>
                                </td>
                                <td>
                                	<a href="">{% trans "Salon Listings" %}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="stylists">
                                        <option>Stylists</option>
                                    </select>
                                </td>
                                <td>
                                	<a href="">{% trans "Stylists Profiles" %}</a>
                                	
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="city">
                                        <option>City</option>
                                    </select>
                                </td>
                                <td>
                                	<select name="suburb">
                                        <option>SubBurb</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% trans "Select Date" %}
                                    <br/>
                                    <input type="text" class="datefield" size="10"/>
                                </td>
                                <td>
                                	<a href="">{% trans "Map View" %}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="contentBeauty">
                    </div>
                    <div id="contentSpa">
                    </div>
                    <div id="contentTeeth">
                    </div>
                    <div id="contentAppr_Med">
                    </div>
					
					{% endblock %}
					</div>
					<!-- end side bar  -->
		
				</div>
        </td>
        <td valign="top">
        	<!-- Content -->
					{% block content %}{% endblock %}
          
        </td>
    </tr>
</table>
				
					
              
			  
			  
			    <script type="text/javascript">
                    //jquery maggic tabs script
                    var target = jQuery('div#tabs1');
                    target.tabs({
                        event: 'click'
                    });
                </script>
           
           
        </div>
		 <div style="clear: both;">
        &nbsp;
    </div>
        <!-- END Content -->{% block footer %}
        <div id="footer">
            <div id="footer-tabs">
                <ul>
                    <li class="currents">
                        <a href=""><span>{% trans "Fixy Foley" %}</span></a>
                    </li>
                    <li>
                        <a href=""><span>{% trans "Fixy Features" %}</span></a>
                    </li>
                    <li>
                        <a href=""><span>{% trans "Fixy Friends" %}</span></a>
                    </li>
                    <li>
                        <a href=""><span>{% trans "Fixy Fixy's" %}</span></a>
                    </li>
                    <li>
                        <a href=""><span>{% trans "Fixy Finding's" %}</span></a>
                    </li>
                    <li>
                        <a href=""><span>{% trans "Fixy Film" %}</span></a>
                    </li>
                </ul>
            </div>
        </div>{% endblock %}
        </div>
		{% endblock %}
		       <script type="text/javascript">
            
            $.datepicker.setDefaults($.datepicker.regional[""]);
            $(".datefield").datepicker($.datepicker.regional["fr"]);
            
        </script>
        <!-- END Container -->
		
    </body>
</html>
