.fixy_tab_header tr
{
	vertical-align: top;
	
}
.salon_list ul li
{
width: 400px;	
}
	
.fixy_logo
{
	width: 100px;
	text-align: center;
	font-size: 28px;
}

INPUT  {
	
		padding: 3px 4px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	
}
#leftsidebar
{
	width: 350px;
height: 500px;
float:left;
	
}


#tabs1,#sidebar1
{

width: 350px;
height: 500px;
		
}
#footer #footer-tabs {

	
	width: 600px;
	height: 25px;
	border:solid;
	font: bold 1.1em Verdana, Tahoma, 'Trebuchet MS', Sans-serif;
}

#footer-tabs ul {
	margin: 0;
	padding: 2px 0px 0px 7px;
	list-style: none;
}

#footer-tabs li {
	display: inline;
	margin: 0;
	padding: 0;
}

#footer-tabs a {
	float: left;
	margin: 0;
	padding: 5px 0 10px 20px;
	text-decoration: none;
	color: black;
	display: block;
}

#footer-tabs a span {
	float: left;
	display: block;
	padding: 7px 15px 4px 8px;
	color: black;
	font-family: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#footer-tabs a span {
	float: none;
}

/* End IE5-Mac hack */
#footer-tabs a:hover span {
	color: black;
}

#footer-tabs a:hover {
	background-position: 0% -42px;
}

.currents a:hover span {
	background-position: 100% -42px !important;
}

.currents a {
	background-position: 0% -42px !important;
}

.currents  a span {
	background-position: 100% -42px !important;
		background: #F3F7FA!important;
		color: #8CC63F!important;
}

.text95 {
	padding: 3px 4px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 1.2em;
	width: 100%;
	outline: none;
}
.invisible {
	display: none;
}