#logo
{
	border: solid;
	width: 150px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	text-transform: uppercase;
	}
.admin_page_title
{
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	
}
.go_div
{	
	text-align: right!important;
	text-decoration: underline;
}
.admin_list_td
{
	text-align: right;
}

.admin_list_td a
{
	border: solid;
}

.admin_detail_td
{
	
	padding: 0px 0px 0px 25px;
}

.detail_page_title
{text-transform: uppercase;
font-size: 18px;
	}

.salon_admin_list li a
{
	text-align: left;
	text-transform: uppercase;
	border: none;
}

.salon_admin_list_title
{
	text-align: left;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
}
.admin_list_left li a
{
	text-align: left;
	text-transform: uppercase;
	border: none;
}
.admin_list li a
{
	text-align: right;
	text-transform: uppercase;
	border: none;
}
.admin_list_title
{
	text-align: right;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.page_title
{
	
	
}

.dashboard_table_admin .go_div
{
	padding-top: 50px;
	text-align: right;
	text-decoration: underline;
}
.dashboard_table_div
{
border: solid;
width: 250px;
height: 400px;
}
.dashboard_table_admin
{
	border: solid;
width: 250px;
height: 150px;
}
.dashboard_table_admin ul li
{
	font-weight: normal;
	}
.dashboard_table_title
{

	font-size: 14px;
	text-transform:uppercase;	
}

.dashboard_table_div table tr th
{
	font-size: 12px;
	font-weight: bold;
	
}
.dashboard_table_div table tr td
{
	font-size: 12px;
	font-weight: normal;
	
}
.page_content
{
	border: solid;
}
 #header-tabs {
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;*/
	height: 25px;
	background: #F3F7FA;
	font: bold 1.1em Verdana, Tahoma, 'Trebuchet MS', Sans-serif;
}

#header-tabs ul {
	margin: 0;
	padding: 2px 0px 0px 7px;
	list-style: none;
}

#header-tabs li {
	display: inline;
	margin: 0;
	padding: 0;
	
}

#header-tabs li a {
	float: left;
	margin: 0;
	padding: 5px 0 10px 20px;
	text-decoration: none;
	color: #8CC63F;
	display: block;
	text-transform: uppercase;
}

#header-tabs a span {
	float: left;
	display: block;
	padding: 7px 15px 4px 8px;
	color: #8CC63F;
	font-family: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header-tabs a span {
	float: none;
}

/* End IE5-Mac hack */
#header-tabs a:hover span {
	color: black;
}

#header-tabs li a:hover {
	background-position: 0% -42px;
}

.current li a:hover span {
	background-position: 100% -42px !important;
}

.current a {
	background-position: 0% -42px !important;
}

.current  a span {
	background-position: 100% -42px !important;
	color: #FFF;
}

.invisible {
	display: none;
}

/* alignment classes */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

/* additional classes */
.clear {
	clear: both;
}

.hide {
	display: none;
}

.gray {
	color: black;
}

