<html>
    <head>
        <title>Album Photo</title>
        <link href="/site_media/js/jquery/css/ui-lightness/jquery-ui-1.8.11.custom.css" media="screen" rel="stylesheet" type="text/css"/>
        <style type="text/css">
            
            #imgViewer {
                width: 400px;
                border-right: 1px dashed #DFE1E0;
            }
            
            #imgList {
                width: 200px;
                border-right: 1px dashed #DFE1E0;
                border-left: 1px dashed #DFE1E0;
            }
            
            #imgList ul li {
                list-style-type: none;
            }
            
			.invisible
			{
				display:none;
			}
            
        </style>
        <script type="text/javascript" src="/site_media/js/jquery/js/jquery-1.5.1.min.js">
        </script>
        <script type="text/javascript" src="/site_media/js/jquery/js/jquery-ui-1.8.11.custom.min.js">
        </script>
        <script type="text/javascript">
            
            show = function(id, type){
            
                var name = $("#vdo_small_name_" + id + "").html();
                var desc = $("#vdo_small_desc_" + id + "").html();
                var src = $("#src_" + id + "").html();
                var includer = "";
                if (type == 1) {
                    includer = "<embed  name=\"plugin\" type=\"application/x-shockwave-flash\" src=\"" + "" + src + "?autoplay=1\" width=\"400\" height=\"400\">"
                }
                else {
                    includer = "<iframe   src=\"" + "" + src + "\" width=\"400\" height=\"400\"></iframe>"
                    
                }
                $("#id_current_name").html(name);
                $("#id_current_desc").html(desc);
                $("#imgcurrent").html(includer);
                
                
                
                
            }
            
            
        </script>
    </head>
    <body>
        <h1>Album {{ album.str_name }}</h1>
        <table class="Album Viewer">
            <td id="imgViewer">
                <table width="400" border="0">
                    <tr>
                        <td>
                            <span id="id_current_name" class="album_current_name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="imgcurrent"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="id_current_desc" class="album_current_desc"></span>
                        </td>
                    </tr>
                </table>
                <td id="imgList" width="200">
                    <ul>
                        {% for video in album.medias.all %}
                        <li>
                            {%  if video.str_type == 'video' %}
							<a href="javascript:show('{{ video.id }}',1)" onmouseover="show('{{ video.id }}',1)">
								<span id="span{{ video.id }}">
									<embed name="plugin" type="application/x-shockwave-flash" src="/site_media/{{ video.str_file}}?autoplay=1" width="100" height="100"/>
									
									</span><br/>
									<span class="vdo_small_name" id="vdo_small_name_{{ video.id }}">{{ video.str_name }} </span>
									
									
									</a>
									<span id="src_{{ video.id }}" class="invisible">/site_media/{{ video.str_file}}?autoplay=1</span>
                            {% endif %} 
                            {%  if video.str_type == 'video_url' %}
							
							<iframe src="{{ video.str_url}}" width="100" height="100"></iframe>
							<br/>
							<a href="javascript:show('{{ video.id }}',2)" onmouseover="show('{{ video.id }}',2)">
								<span id="span{{ video.id }} ">
									
									<span class="vdo_small_name" id="vdo_small_name_{{ video.id }}">{{ video.str_name }} </span>
									
									</span>
									
									</a>
									<span id="src_{{ video.id }}" class="invisible">{{ video.str_url}}
									</span>
                            {% endif %} 
                            <br>
                            
                            <span class="invisible" id="vdo_small_desc_{{ video.id }}" style="display:none;">{{ video.str_description }} </span>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                </table>
            </body>
